<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAG Chat</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <pre><span style="font-size: 16px">Please upload a PDF document or select a website url to begin chat.</span>
    
    </pre>
    <form action="/upload_pdf">
        <button style="display:inline-flex;" type="upload">Upload a document</button>
    </form>
    <form action="/select_url">
        <button style="display:inline-flex;" type="select">Select a url</button>
    </form>
</body>
</html>