<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/select" method="POST">
        <label for="Website">Website:</label>
        <input type="url" id="url" name="url" placeholder="Enter a url." required oninvalid="setCustomValidity('Invalid website. Please enter a valid url.')" onchange="try{setCustomValidity('')}catch(e){}">
        <button type="open">Open</button>
    </form>
</body>
</html>